body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color:black;
	color:#969696;
}

a {
	color: white;
}

* {
	outline: 1px white;
}

.menu {
	width:90px;
	height:90px;
	background-color:lightyellow;
	border-radius:70%;
	position:fixed;
	top:10px;
	left:10px;
	cursor:pointer;
}

.close {
	width:70px;
	height:70px;
	background-color:white;
	position:fixed;
    border-radius:70%;
	top:10px;
	left:10px;
	z-index:10;
	cursor:pointer;
	display:none;
}

.close.show {
	display:block;
}

.essay {
	width:36%;
	height:100vh;
	background-color:black;
	position:fixed;
	left:0px;
	top:0px;
	overflow:scroll;
	margin-left:-36%;
	transition:1s;
}

.essay.slide {
	margin-left:0;
	transition:1s;
}

.essay h1{
	font-size:45px;
	text-align:center;
	font-family: bond;
	color: lightyellow;
}

.essay p{
	padding:20px;
	font-family: monospace; 
}

.source {
	font-size:20px;
}

.container {
	display:flex;
	flex-wrap:wrap;
	text-align: center;
}

.item img {
	align-items:center;
	width:100%;
}

.W1of4 {
	width:25%;
}

.W2of4 {
	width:50%;
}

.W1of2 {
	width:50%;
}

.W1of3 {
	align-items:right;
	
	width:33.33%;
}

.W1of1 {
    align-items:center;
    width:75%;
}

.W1of6 {
	width:16.667%;

}

.W1of12 {
	width:8.333%;
}

.W3of4 {
	align-items:center;
	width: 75%
}
   

/*  Title  */

.title {
	font-size:100px;
	text-align:center;
	padding-top:60px;
	padding-bottom:60px;
}

.masthead {
	align-items: center;
	justify-content: space-around;
}

.body:hover {
	border:10px black;
}

.copy {
	font-size:50px;
	color:white;
	text-shadow: 0px 5px 20px;
	font-family: sans-serif;
}

.main img{
     text-align: center;
     display: block;
}

.story1 {
	width:50px;
	height:50px;
	background-color:white;
	border-radius:50%;
	position:fixed;
	top:600px;
	right:900px;
	cursor:pointer;
	box-shadow: 5px 5px 20px;
	font-size: 30px;
	text-align: center;
}

 .story2 {
 	width:55px;
	height:55px;
	background-color:white;
	border-radius:50%;
	position:fixed;
	top:400px;
	right:1400px;
	cursor:pointer;
	box-shadow: 5px 5px 20px;
	font-size: 30px;
	text-align: center;
	 }

.story3 {
 	width:50px;
	height:50px;
	background-color:white;
	border-radius:50%;
	position:fixed;
	top:1000px;
	right:1400px;
	cursor:pointer;
	box-shadow: 5px 5px 20px;
	font-size: 30px;
	text-align: center;
	 }

.story4 {
 	width:55px;
	height:55px;
	background-color:white;
	border-radius:50%;
	position:fixed;
	top:400px;
	right:800px;
	cursor:pointer;
	box-shadow: 5px 5px 20px;
	font-size: 30px;
	text-align: center;
	 }

.story5 {
 	width:55px;
	height:55px;
	background-color:white;
	border-radius:50%;
	position:fixed;
	top:1000px;
	right:200px;
	cursor:pointer;
	box-shadow: 5px 5px 20px;
	font-size: 30px;
	text-align: center;
	 }

.story6 {
 	width:50px;
	height:50px;
	background-color:white;
	border-radius:50%;
	position:fixed;
	top:700px;
	right:1500px;
	cursor:pointer;
	box-shadow: 5px 10px 20px;
	font-size: 30px;
	text-align: center;
	 }

.next {
	cursor:pointer;
	font-size: 30px;
	text-align: right;
}

.background {
	background-image: url("asset1/s77.png");
	background-size: contain;
}

.story8 {
	position:fixed;
	top:400px;
	right:1000px;
	box-shadow: 5px 10px 20px;
	text-shadow: 5px 10px 20px;
	font-size: 50px;
	color:white;
	align-items:center;
}




















