body {
	font-family: fantasy,Arial,bold,sans-serif;
	font-size: 34px;
	background-image: url('assets/images/11.jpg');
    background-repeat: no-repeat
}

a {
	color:#000;
	text-decoration: none;
}

img {
	width:100%;
}

* {
	outline: 5px black;
}

.year {
  font-size:150px;
  font-style:italic;
  font-weight:bold;
  line-height:60px;
  text-align:left;
  width:250px;
}

.aca {
  font-size:60px;
  line-height:60px;
  text-align:center;
  color:black;
  font-weight:bold;
}

.menu {
	width:540px;
	height:100px;
	background-color:white;
	position:fixed;
	top:260px;
	left:50px;
	cursor:pointer;
	box-shadow: 0px 5px 1px black; 
}

.close {
	width:100px;
	height:100px;
	background-color:white;
	position:fixed;
	top:250px;
	left:10px;
	z-index:10;
	cursor:pointer;
	display:none;
}

.close.show {
	display:block;
}

.essay {
	width:50%;
	height:100vh;
	background-color:darkgrey;
	position:fixed;
	left:0px;
	top:0px;
	overflow:scroll;
	margin-left:-50%;
	transition:1s;
}

.essay.slide {
	margin-left:0;
	transition:1s;
}

.essay h1{
	font-size:50px;
	font-weight:bold;
	text-align:center;
	font-family: Bond;
	color: white;
	border-left: 40px;
}

.essay p{
	padding:20px;
	font-family: bond;
	color:white;
	font-size: 30px;
	border-left: 40px; 
}

.source {
	font-size:8px;
	color: white
	border-left: 40px; 
}

.examples .content {
	border-radius: 80px;
	text-align: center;
	position:fixed;
}

* {
  box-sizing: border-box;
}

.sources a{
	display: block;
}

.grid {
	display: flex;
	flex-wrap:wrap;
}

.col {
	padding: 40px;
}

.content {
	padding: 10px;
}

.w-1of1 {
	flex:0 0 100%;
}

.w-1of2 {
	flex:0 0 50%;
}

.w-1of3 {
	flex:0 0 33.33%;
}

.w-2of3 {
	flex:0 0 66.66%;
}

.w-1of4 {
	flex:0 0 25%;
}

.w-3of4 {
	flex:0 0 75%;
}

.oldphotos img{
   box-shadow: 10px 10px 10px grey;
   padding: 30px;
}

.oldphotos {
font-weight: bold;
font-family: fantasy;
padding: 80px;
text-align: center;
}

.nav {
	font-size: 30px;
}

.links{
	cursor:pointer;
	text-shadow: 3px 3px 10px grey;
	font-size: 35px;
	font-weight:italic;
    text-align:center;
    color:white;
    background-color:white;
    box-shadow: 3px 3px 10px grey; 
}

.bg {
 background-image: url("assets/images/3.jpg");
  background-repeat: no-repeat;

}


.home {
  font-size:80px;
  line-height:80px;
  text-align:right;
  color:black;
  box-shadow: 0px 10px 10px grey;
}

.home2 {
  font-size:80px;
  line-height:80px;
  text-align:right;
  color:black;
}

.drag-image {
	cursor: move;
	width: 300px;
  	padding: 0px;
  	position: relative;
}

.image-1 {
	width:30%;
	left: 614px;
    top: -1134px;
}

.image-2 {
	left: 114px;
    top: -1300px;
    width:30%;
}

.image-3 {
	left: 1500px;
    top: -2000px;
    width:20%;
}

.image-4 {
	left: 350px;
    top: -2900px;
    width:11%;
    box-shadow: 10px 10px 10px white;
}

.image-5 {
	left: 1500px;
    top: -3100px;
    width:15%;
    box-shadow: 10px 10px 10px white;
}

.pattern {
	position:fixed;
	top:750px;
	left:80px;

}


.pattern1 {
	position:fixed;
	top:200px;
	right:90px;
	width:10%;
}

.pattern2 {
	position:fixed;
	top:500px;
	right:90px;
	width:10%;
}

.pattern3 {
	position:fixed;
	top:800px;
	right:90px;
	width:10%;
}

.pattern4 {
	position:fixed;
	top:1120px;
	right:90px;
	width:10%;
}

.pattern5 {
	position:fixed;
	top:200px;
	left:90px;
	width:10%;
}

.pattern6 {
	position:fixed;
	top:500px;
	left:90px;
	width:10%;
}

.pattern7 {
	position:fixed;
	top:800px;
	left:90px;
	width:10%;
}

.pattern8 {
	position:fixed;
	top:1125px;
	left:90px;
	width:10%;
}

.pattern9 {
	position:fixed;
	top:200px;
	left:500px;
	width:10%;
}

.pattern10 {
	position:fixed;
	top:200px;
	left:1320px;
	width:10%;
}

.pattern11 {
	position:fixed;
	top:200px;
	left:910px;
	width:10%;
}

.pattern12 {
	position:fixed;
	top:500px;
	left:500px;
	width:10%;
}

.pattern13 {
	position:fixed;
	top:500px;
	left:1320px;
	width:10%;
}

.pattern14 {
	position:fixed;
	top:500px;
	left:910px;
	width:10%;
}

.pattern15 {
	position:fixed;
	top:1100px;
	left:1320px;
	width:9%;
}

.pattern16 {
	position:fixed;
	top:800px;
	left:1320px;
	width:10%;
}

.pattern17 {
	position:fixed;
	top:1100px;
	left:910px;
	width:8%;
}

.pattern18 {
	position:fixed;
	top:1120px;
	left:500px;
	width:10%;
}

.pattern19 {
	position:fixed;
	top:800px;
	left:500px;
	width:10%;
}

.pattern20 {
	position:fixed;
	top:800px;
	left:910px;
	width:10%;
}



