body {
	font-family: bodoni,Arial,sans-serif;
	font-size: 100px;
	background-color:darkred;
	text-transform:uppercase;
}

a {
	color:red;
}

.red {
	width:2300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	border:10px solid red;
}

.red:hover {
	border:20px solid white;
}

.red img {
	width:150%;
	display: block;
}

.shoe {
	width:1000px;
	margin-left:200px;
	margin-right:auto;
	margin-top:-1200px;
	transform:skew(-10deg);
	transition:0.5s;
}

.shoe img {
	width:100%;
	display: block;
}

.shoe:hover {
	border:10px solid red;
	transform:skew(0deg);
	transition:0.5s;
}

.links {
	position:fixed;
	top:20px;
	left:20px;
	z-index:2;
	font-family: courier;
}

.links a {
	text-decoration:none;
	color:black;
	text-shadow:0px 0px 20px red;
	display:block;
	font-size:60px;
}

.links a:hover {
	color:yellow;
}

.name {
	font-size:180px;
	text-align:center;
	text-shadow:0px 0px 20px red;
	margin-top:50px;
}

.copy{
	font-size:14px;
	text-align:center;
	text-transform:uppercase;
	background-color:red;
	padding:10px;
}

.hot {
	position:fixed;
	top:1000px;
	right:1000px;
	width:600px;
	border:4px solid yellow;
}

.D {
	position:fixed;
	bottom:1900px;
	left:500px;
	width:70%;
}

.one {
	position:fixed;
	bottom:1900px;
	left:4000px;
	width:800px;
}

.finger {
	position:fixed;
	bottom:1500px;
	left:1800px;
	width:600px;

}


